<% provide(:title, 'Trip Plan Index') %>
<div class="trip-plan-index col-xs-offset-1">
  <% @trip_plans.each do |t| %>
    <% cache(t) do %>
      <div class="trip-plan-tile">
        <%= link_to t.title, trip_plan_url(t) %>
        <img src=<%= t.picture %> alt="Trip Plan Image" class="trip-plan-img"/>
        <span class="trip-plan-user-info">
          by <%= link_to t.user.login, user_url(t.user) %> |
          Posted <%= time_ago_in_words(t.created_at) %> ago.
        </span>
      </div>
    <% end %>
  <% end %>
</div>
